<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    This version of Splurty was built by <a target="_blank" href="https://www.linkedin.com/in/fucharlie/">Charlie</a>. He is an aspiring Full Stack web developer student at the Universtiy of Texas at Austin. 
  </p>
  <br />
  <p>
    His passion for technology, problem solving, and constant learning has brought him into the exciting new world of web development and programming. He hopes to one day built an application of his own (for whatever purposes). 
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">

    <div class="col-12 col-sm-4">

      <%= image_tag 'dogtax.jpg', class: 'img-fluid'%>
    
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">
        Dog tax
      </h2>
      
      <br />
      <p>
        Remember to pay your dog tax before April 15th!
      </p>

    </div>
    
  </div>

  <br class="clear" />

  <div class="row">

    <div class="col-12 col-sm-4" style="padding-top: 30px">

      <%= image_tag 'dogtax1.png', class: 'img-fluid'%>
      
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">

      <h2 class="text-center">
        
        Error 503

      </h2>

      <br />

      <p>
        Please check back with dog later.
      </p>
      
    </div>
    
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />